Repository widelands/widelands, pull requests merged in 2021-08, with the labels that each got.

#4934 Add-Ons Webserver
  .github/workflows/build.yaml
  CMakeLists.txt
  README.md
  appveyor.yml
  cmake/WlFunctions.cmake
  debian/control
  doc/sphinx/source/add-ons.rst
  src/logic/CMakeLists.txt
  src/logic/addons.cc
  src/logic/addons.h
  src/logic/filesystem_constants.h
  src/network/CMakeLists.txt
  src/network/net_addons.cc
  src/network/net_addons.h
  src/ui_basic/multilineeditbox.cc
  src/ui_basic/multilineeditbox.h
  src/ui_basic/panel.cc
  src/ui_basic/panel.h
  src/ui_fsmenu/addons.cc
  src/ui_fsmenu/addons.h
  src/wlapplication_messages.cc
  utils/build_deps.py
Labels: addon, enhancement, multiplayer & networking

#4849 Fastplace Shortcuts
  src/logic/player.cc
  src/ui_fsmenu/CMakeLists.txt
  src/ui_fsmenu/keyboard_options.cc
  src/ui_fsmenu/keyboard_options.h
  src/wlapplication_options.cc
  src/wlapplication_options.h
  src/wui/interactive_player.cc
Labels: accessibility, enhancement

#4972 Fix replay writing in savegames created from replays
  src/game_io/game_class_packet.cc
Labels: bug, replay, saveloading & compatibility

#4977 Updated barbarian barracks graphics by DragonAtma
  data/tribes/buildings/productionsites/barbarians/barracks/build_0.5.png
  data/tribes/buildings/productionsites/barbarians/barracks/build_0.5_pc.png
  data/tribes/buildings/productionsites/barbarians/barracks/build_1.png
  data/tribes/buildings/productionsites/barbarians/barracks/build_1_pc.png
  data/tribes/buildings/productionsites/barbarians/barracks/build_2.png
  data/tribes/buildings/productionsites/barbarians/barracks/build_2_pc.png
  data/tribes/buildings/productionsites/barbarians/barracks/build_4.png
  data/tribes/buildings/productionsites/barbarians/barracks/build_4_pc.png
  data/tribes/buildings/productionsites/barbarians/barracks/idle_0.5.png
  data/tribes/buildings/productionsites/barbarians/barracks/idle_0.5_pc.png
  data/tribes/buildings/productionsites/barbarians/barracks/idle_1.png
  data/tribes/buildings/productionsites/barbarians/barracks/idle_1_pc.png
  data/tribes/buildings/productionsites/barbarians/barracks/idle_2.png
  data/tribes/buildings/productionsites/barbarians/barracks/idle_2_pc.png
  data/tribes/buildings/productionsites/barbarians/barracks/idle_4.png
  data/tribes/buildings/productionsites/barbarians/barracks/idle_4_pc.png
  data/tribes/buildings/productionsites/barbarians/barracks/init.lua
  data/tribes/buildings/productionsites/barbarians/barracks/menu.png
Labels: barbarians, graphics

#5021 Catch crash when preloading minimap
  src/wui/gamedetails.cc
  src/wui/gamedetails.h
Labels: bug, crashes or hangs, saveloading & compatibility, ui

#5012 Refactor `ui_fsmenu/addons.*`
  src/ui_basic/color_chooser.cc
  src/ui_fsmenu/CMakeLists.txt
  src/ui_fsmenu/addons.cc
  src/ui_fsmenu/addons/contact.cc
  src/ui_fsmenu/addons/contact.h
  src/ui_fsmenu/addons/login_box.cc
  src/ui_fsmenu/addons/login_box.h
  src/ui_fsmenu/addons/manager.cc
  src/ui_fsmenu/addons/manager.h
  src/ui_fsmenu/addons/packager.cc
  src/ui_fsmenu/addons/packager.h
  src/ui_fsmenu/addons/packager_box.cc
  src/ui_fsmenu/addons/packager_box.h
  src/ui_fsmenu/addons/progress.cc
  src/ui_fsmenu/addons/progress.h
  src/ui_fsmenu/addons/remote_interaction.cc
  src/ui_fsmenu/addons/remote_interaction.h
  src/ui_fsmenu/addons/rows_ui.cc
  src/ui_fsmenu/addons/rows_ui.h
  src/ui_fsmenu/addons/screenshot_upload.cc
  src/ui_fsmenu/addons/screenshot_upload.h
  src/ui_fsmenu/main.cc
Labels: cleanup & refactoring, ui, addon

#5025 Added missing direct include
  src/network/bufferedconnection.h
Labels: building & packaging

#4976 Fix add-on translation handling glitches
  src/logic/addons.cc
  src/logic/addons.h
  src/scripting/lua_globals.cc
  src/ui_fsmenu/launch_game.cc
  src/ui_fsmenu/launch_mpg.cc
  src/ui_fsmenu/launch_spg.cc
  src/ui_fsmenu/scenario_select.cc
  src/wui/mapdata.cc
Labels: bug, internationalization, addon

#4823 Implement saveloading unique windows
  src/economy/economy.cc
  src/economy/economy.h
  src/editor/editorinteractive.cc
  src/editor/editorinteractive.h
  src/game_io/game_interactive_player_packet.cc
  src/logic/editor_game_base.cc
  src/ui_basic/panel.h
  src/ui_basic/slider.h
  src/ui_basic/tabpanel.h
  src/wui/CMakeLists.txt
  src/wui/building_statistics_menu.cc
  src/wui/building_statistics_menu.h
  src/wui/buildingwindow.cc
  src/wui/buildingwindow.h
  src/wui/economy_options_window.cc
  src/wui/economy_options_window.h
  src/wui/encyclopedia_window.cc
  src/wui/encyclopedia_window.h
  src/wui/game_message_menu.cc
  src/wui/game_message_menu.h
  src/wui/game_objectives_menu.cc
  src/wui/game_objectives_menu.h
  src/wui/general_statistics_menu.cc
  src/wui/general_statistics_menu.h
  src/wui/interactive_base.cc
  src/wui/interactive_base.h
  src/wui/interactive_gamebase.cc
  src/wui/interactive_gamebase.h
  src/wui/interactive_player.cc
  src/wui/interactive_player.h
  src/wui/minimap.cc
  src/wui/minimap.h
  src/wui/seafaring_statistics_menu.cc
  src/wui/seafaring_statistics_menu.h
  src/wui/shipwindow.cc
  src/wui/shipwindow.h
  src/wui/soldier_statistics_menu.cc
  src/wui/soldier_statistics_menu.h
  src/wui/stock_menu.cc
  src/wui/stock_menu.h
  src/wui/tribal_encyclopedia.cc
  src/wui/ware_statistics_menu.cc
  src/wui/ware_statistics_menu.h
  src/wui/watchwindow.cc
  src/wui/watchwindow.h
  utils/detect_revision.py
Labels: enhancement, saveloading & compatibility, ui

#4938 Support having more than 2 carriers on a road
  data/tribes/initialization/amazons/units.lua
  data/tribes/initialization/atlanteans/units.lua
  data/tribes/initialization/barbarians/units.lua
  data/tribes/initialization/empire/units.lua
  data/tribes/initialization/frisians/units.lua
  src/economy/road.cc
  src/economy/road.h
  src/logic/map_objects/tribes/tribe_descr.cc
  src/logic/map_objects/tribes/tribe_descr.h
  src/logic/map_objects/tribes/warehouse.cc
  src/map_io/map_roaddata_packet.cc
  src/scripting/lua_map.cc
  src/scripting/lua_map.h
Labels: enhancement, tribes
